<nav class="navigation">
  <a class="logo" routerLink="/">Hotels.ug</a>

  <ul class="nav">
    <li><a href="#">USD</a></li>
    <li><a routerLink="/" routerLinkActive="active">Help</a></li>
    <li><a routerLink="/" routerLinkActive="active">Your Bookings</a></li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/register" routerLinkActive="active">Create Account</a>
    </li>
    <li>
      <a
        *ngIf="!isAuthenticated; else profile"
        class="signin"
        routerLink="/login"
        routerLinkActive="active"
        >Sign in</a
      >
      <ng-template #profile>
        <a routerLink="#">Hi Paul</a>
      </ng-template>
    </li>
  </ul>
</nav>
